.footer{
    background-color: $footer-bg;
    padding-top: 72px;
    padding-bottom: 51px;
    font-size: 14px;
    letter-spacing: 0.05em;

    @media screen and (max-width:999px) {
        padding-top: 25px;
        padding-bottom: 36px;
    }
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;

    @media screen and (max-width:870px) {
        grid-template-columns: repeat(2,1fr);  
        gap: 40px 30px;
    }
}
.footer-logo {
    margin-top: -12px;

}
.footer-nav {

}
.footer-nav-list{
    display: grid;
    gap: 15px;
}

.footer-social{
    display: flex;
    column-gap: 22px;
    align-items: center;
}
